@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    font-weight: lighter ;
    font-family: 'Kalam', cursive;
    transition: 0.8s !important ;
    
}

body{
    transition: 2s;
}

.switcher{
    position:absolute;
    left: 50%;
    transform: translate( -50%);
    background-color: rgba(41, 45, 54,0.5);
    margin-top: 20px;
    border-radius: 15px;
    width:120px;
    /* border: 1px solid white; */
    
}

.light .switcher{
    background-color: rgba(249, 249, 249,0.9);
    
}

.light .inner{
    color:rgb(41, 45, 54);
}

.inner{
    /* border: 1px solid white; */
    padding-top: 10px;
    margin-bottom: -10px;
    font-size: 20px;
    width: 80%;
  /* padding: 20px 10px; */
}

 .inner .switch-light .fas{
    opacity: 0.5;
}

.inner .switch-dark .fas{
    opacity: 1;
}

.light .inner .switch-dark .fas{
    opacity: 0.2;
}

.light .inner .switch-light .fas{
    opacity: 1;
}

/* .light .inner .far{
    display: inline-block;
    
} */



.full-wrapper{ 
    position: relative;
    height: 100vh;
}

.wrapper{
    width: 350px;
    height: 650px;
    background-color: #22252D;
    border-radius: 15px;
    box-shadow: 19px 11px 18px -10px rgba(6,7,9,0.49);
    position: absolute;
    top: 50%;
    left:50%;
    /* transition: 2s; */
    transform: translate(-50%, -50%);
}

.dark{
    background-color: #3F444A ;
    
}

.light{
    background-color: #EFEEEF;
}

.light .wrapper{
    background-color: rgba(249, 249, 249,2);
    box-shadow: 19px 11px 18px -10px rgba(35, 39, 46, 0.2);
}

.light .num-tab{
    /* background-color: #F9F9F9; */
    background: rgb(255,255,255);
    background-color: rgb(209, 209, 209,0.4);
}

.light .num{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 100%);
    color:black ;
    box-shadow: 8px 11px 18px -10px rgba(6,7,9,0.6);
}

.light .text-screen{
    color:#3F444A ;
}

.light .pressed{
    box-shadow: inset 8px 11px 18px -10px rgba(6,7,9,0.4);
    padding: 6px 6px !important; 
}




.num{
    padding: 5px 5px !important;
    margin: 0 auto;
    cursor: pointer;
     /* border: ghostwhite 1px solid; */
    font-size: 20px;
    background: rgb(41,45,54);
    background: linear-gradient(90deg, rgba(41,45,54,1) 0%, rgba(34,37,45,1) 100%);
    /* background-color: #272B33; */
    border-radius: 10px;
    box-shadow: 8px 11px 18px -10px rgba(6,7,9,0.45);
}


.num-section{
    margin-top: 20px !important;
    
}
.op{
    color:   rgba(176,23,18) !important;
    
}

.ope{
   color: rgb(51, 155, 136) !important;
   
}



.pressed{
    box-shadow: inset 8px 11px 18px -10px rgba(6,7,9,0.4);
    padding: 6px 6px !important; 
}

.num-tab{
    color: ghostwhite;
    padding: 0 !important;
    background-color: #292D36;
    width: 100% !important;
    height: 65%;
    padding: 10px 20px !important;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    border-bottom-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
    position:absolute;
    bottom: 0;
    
}

.last{
    margin-bottom: 40px !important;
}

.row{
   text-align: center;     
}


.display-screen{
    height: 35% ;
    position:absolute;
    color: white;
    top: 0;
    width: 100%;
    /* border: 1px solid white; */
}

.text-screen{
    padding: 10px;
    position: absolute;
    color: white;
    bottom: 0;
    right: 0;
    font-weight: lighter;
}

@media only screen and (max-width: 768px) {
    .wrapper{
        width: 300px;
        height: 600px;
        margin-top: 50px;
    }

    .num-section{
        margin-top: 15px;
        
    }

    .num{
        font-size: 15px;
    }

}